Binaries/Win64/FirstProjcet.exe filter=lfs diff=lfs merge=lfs -text
Binaries/Win64/FirstProjcet.pdb filter=lfs diff=lfs merge=lfs -text
Content/Maps/SunTemple_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
